body {
    font-size: 18px;
    background-color:  rgb(255, 255, 255);
   
}
  
#country-name-input{

  font-size:18px;
  border-radius:9px;
  padding: 15px 20px;
  width: 250px;

}

#submit-button{
  font-size: 18px;
  background-color: rgb(211, 229, 245);
  border-radius:9px;
  padding: 15px 20px;
  border: none;
  
}

#country-info{
  margin-top: 10px;
  background-color: rgb(187, 204, 219);
  padding: 15px 20px;
  border-radius:9px;
  
}

#bordering-countries{
  background-color: rgb(174, 187, 199);
  padding: 15px 20px;
  border-radius:9px;
  margin-top: 10px;
}
